<template>
  <div class.bind="containerClassname">
    <header class.bind="headerClassName">
      <curve class.bind="styledCurve"></curve>
      <logo class.bind="styledLogo"></logo>
    </header>
    <rocket class.bind="styledRocket"></rocket>
    <h1 class.bind="headingClassName">Space
                                      Explorer
    </h1>
    <form class.bind="styledForm"
          submit.delegate="onSubmit($event)">
      <input
        class.bind="styledInput"
        required
        type="email"
        name="email"
        placeholder="Email"
        data - testid="login-input"
        change.delegate="onChange($event)"/>
      <stylec-button
        type="submit"> Log in
      </stylec-button>
    </form>
  </div>
</template>
